@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

input, select, textarea, button {
  font-family: inherit;
}
